.logo {
	height: 150px;
}

.color-black li {
	color: black;
}

.logo-url-spacing {
	margin-right: 10%;
}

.url-spacing li {
	margin-right: 20px;
}

.icon-phone {
	background: url('../../../assets/icons/blueicon-phone.png') center center;
	padding: 50px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}